@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: Source Sans Pro, Arial;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
    margin: 0;
    line-height: 24px;
}

body:after {
    content: "Angular";
    position: fixed;
    width: 100px;
    height: 25px;
    background: #e66306;
    top: 13px;
    right: -24px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a {
    text-decoration: none;
    color: #e66306;
    font-weight: 600;
}

a:hover {
    color: rgba(0, 0, 0, 0.87);
}

.material-icons {
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
}

p {
    margin-top: 0;
}

b,
.highlight {
    color: #e66306;
    font-weight: normal;
}