body{
	font-family: Source Sans Pro, Arial;
	font-size: 18px;
	color: #555;
	line-height: 26px;
	margin: 0;
	display:flex;
	flex-direction: column;
	height: 100%;
}

a{
	color:#727272;
}

.navbar {
	background: rgb(2, 136, 209);
	color: #fff;
	align-self: stretch;
	font-size: 18px;
	flex:0 0 auto;
}

.header{
	display:flex;
	flex-direction: column;
	align-items: center;
	flex: 0 0 auto;
	text-align: center;
	background: rgb(3, 169, 244);
	color: #e0f5ff;
}

.header-content{
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex:1 0 auto;
}

.header-picture img{
	height: 200px;
	max-width:160px;
}

.header-details {
	padding-left: 20px;
	flex: 1 0 auto;
	max-width:740px;
	text-align: left;
}

.content{
	background-color: #fff;
	align-self: stretch;
	flex: 1 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content p{
	max-width:900px;
	text-align: justify;
}

.btn-primary{
	position:relative;
	width: 48px;
	align-self: flex-end;
}

.btn-contact{
	position: absolute;
	right: 20px;
	top: -60px;
	padding: 12px;
	width:48px;
	height:48px;
	border:none;
	box-shadow:0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
	border-radius: 100%;
	text-decoration: none;
	text-align: center;
	background: rgb(255, 193, 7);
	color: #fff;
	cursor: pointer;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-transform: perspective(1000px);
}

.btn-flipper{
	display: block;
	position: relative;
	width:48px;
	height:48px;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.btn-front, .btn-back{
	width:48px;
	height:48px;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.btn-front{
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.btn-back{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.btn-contact:hover{
	box-shadow: 0 3px 10px rgba(0,0,0,0.16);
}

.btn-contact:hover .btn-flipper, .btn-contact.hover .btn-flipper{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.footer{
	-webkit-align-self: center;
	align-self: center;
	padding: 20px;
}

.highlight{
	font-weight: bold;
	color: #fff;
}

/* Small screen */
@media only screen and (max-width: 960px) {
	body{
		max-width: 100%;
	}
	.header-content{
		flex-direction: column;
	}

}
