<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <h1>{{title}}</h1>
  </mat-toolbar>
</div>
<div class="content">
    <img width="150" src="./assets/blandine-rounded.png" alt="Blandine picture" class="float-left"/>
  <p class="plain-text">
  
  
      Hi, I'm <span class="highlight">Blandine Descamps</span>,
     a senior front-end developer passionate about creating great user experiences!</p>
    <p>I'm available for <span class="highlight">front-end development</span>, <span class="highlight">consulting</span>,
      <span class="highlight">code review</span> and <span class="highlight">mentoring</span>.<br /><br />
      I work <span class="highlight">remotely</span> from France but I am very open for occasional travelling, especially in <span class="highlight">Stockholm</span>.</p>

      <p>
          I'm skilled in <b>javascript</b> and I've previously worked with <b>React.js/Redux</b> and <b>Angular</b>.
          I know <b>HTML5</b> and <b>CSS3</b>.
          <br/><br/>
          I do write <b>tests</b> :)
          <br/><br/>
          I like to keep myself at the edge of the front-end technologies. Those days, I play with <b>Progressive Web Apps</b>.
        <br/>I'm also interested in tools to improve the user feedback like <b>AB testing</b>.
          <br/><br/>
          I'm fluent in <b>english</b> and <b>french</b>, could work in spanish with a bit of training, and I'm learning swedish.
          <br/></p>
        <p>
          You can know more about me on <a href="http://se.linkedin.com/in/blandinedescamps" target="_blank">linkedin</a>.
        </p>
  <app-github-component></app-github-component>
</div>



